* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding-top: 1rem;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 1rem;
}

form div {
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

form div input {
    border: none;
    border-bottom: 1px solid black;
    padding: .3rem;
    padding-top: 1rem;
    padding-left: 0.6rem;
    background-color: transparent;
}

form div input:focus {
    border-bottom: none;
    outline: 1px solid black;
}

form input[type="button"] {
    align-self: center;
    padding-inline: 2rem;
    padding-block: .8rem;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: all .3s ease;
    font-weight: bold;
}

form input[type="button"]:hover {
    background-color: white;
    color: black;
}

form div label span {
    background-color: white;
    position: relative;
    top: -1.6rem;
    left: .4rem;
    padding-inline: .2rem;
    transition: all .3s ease;
    pointer-events: none;
}

form div:has(input:focus) label span,
form div:has(input:not(:placeholder-shown)) label span {
    top: -3.3rem;
    font-size: 0.8rem;
    z-index: 1;
}

form div span.tooltip {
    position: absolute;
    right: 0;
    top: 2.8rem;
    display: block;
    background-color: lightgray;
    color: black;
    font-size: .8rem;
    border-radius: 4px;
    padding: 2px 8px;
    opacity: 0;
    transition: opacity .3s ease;
}

form div:has(input:hover) span.tooltip {
    opacity: 1;
}