* {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

header picture {
    flex: 1 1 auto;
    text-align: center;
}

header picture img {
    margin: 0 auto;
}

header nav#menu-principal {
    order: -1;
}

header nav#menu-principal label {
    font-size: 2rem;
}

header nav#menu-principal input {
    display: none;
}

header nav#menu-principal ul#menu {
    display: none;
}

header nav#bloqueiconos ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav#bloqueiconos ul li {
    font-size: 1.4rem;
}

header nav#bloqueiconos ul li:not(:last-child) {
    display: none;
}

header nav#bloqueiconos ul li a {
    color: black;
}

header>div {
    flex: 1 1 100%;
    background-color: lightgray;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

header>div input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

header>div input::placeholder {
    color: transparent;
}

header>div label {
    transform: translateY(1.2rem);
    text-transform: lowercase;
}

header>div label::first-letter {
    text-transform: uppercase;
}

header>div span {
    transform: translate(-3rem, -1.4rem);
}

header>div:has(input:focus) label,
header>div:has(input:focus) span,
header>div:has(input:not(:placeholder-shown)) label,
header>div:has(input:not(:placeholder-shown)) span {
    visibility: hidden;
}

aside nav#menu-secundario ul {
    display: none;
}

main {
    display: flex;
    flex-flow: row wrap;
}

main article {
    padding: .4rem;
    flex-basis: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main article a:has(h3) {
    text-align: center;
    text-decoration: none;
    color: black;
    flex: 1 1 auto;
}

main article p {
    margin-top: 0;
}

main article.item a picture img {
    width: 100%;
    height: auto;
}

main article a:has(picture) {
    order: -1;
}

@media (min-width: 800px) {
    header nav#bloqueiconos ul li:not(:last-child) {
        display: block;
    }
}

@media (min-width: 1200px) {
    body {
        display: flex;
        flex-flow: row wrap;
    }

    header {
        flex-basis: 100%;
    }

    aside {
        flex-basis: 25%;
    }

    main {
        flex-basis: 60%;
    }

    footer {
        flex-basis: 100%;
    }

    aside nav#menu-secundario ul {
        display: block;
    }

    header picture {
        flex-basis: 100%;
        order: -3;
    }


    header nav#menu-principal {
        flex: 1 1 auto;
    }

    header nav#menu-principal label {
        display: none;
    }

    header>div {
        order: -2;
        background-color: transparent;
        flex: 0 0 auto;
        flex-flow: row nowrap;
    }

    header>div label {
        transform: translateY(0);
    }

    header>div span {
        transform: translateY(0);
    }

    header nav#menu-principal ul#menu {
        list-style: none;
        display: flex;
        justify-content: space-around;
        padding-left: 0;
    }

    header nav#menu-principal ul#menu li a {
        text-decoration: none;
        color: black;
    }

    aside nav#menu-secundario ul {
        list-style: none;
    }

    aside nav#menu-secundario a:hover {
        text-decoration: underline;
    }

    aside nav#menu-secundario li {
        margin-bottom: .8rem;
    }

    aside nav#menu-secundario ul {
        margin-top: .8rem;
    }

    aside nav#menu-secundario>ul>li>a {
        text-decoration: none;
        color: black;
    }

    aside nav#menu-secundario>ul>li ul {
        padding-left: 0;
    }

    aside nav#menu-secundario>ul>li ul li a {
        text-decoration: none;
        color: gray;
    }
}