* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header nav#menu-principal ul {
    display: none;
}

header nav#menu-principal input[type="checkbox"] {
    display: none;
}

header {
    display: flex;
    align-items: center;
}

header nav#menu-principal {
    order: -2;
}

header nav#buscador {
    order: -1;
}

header nav#buscador ul {
    list-style: none;
}

header nav#compra ul {
    list-style: none;
}

header nav label span {
    font-size: 1.2rem;
}

header nav ul li {
    font-size: 1.2rem;
}

header nav ul li i {
    color: gray;
}

header picture {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

header picture img {
    max-width: 6rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

main article {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    padding: .2rem;
}

article a:last-child {
    order: -1;
}

article a:has(picture) img {
    width: 100%;
    height: auto;
}