* {
    box-sizing: border-box;
}

div#contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

section#ofertas {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

article {
    max-width: 24rem;
    border: 1px solid black;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

article h3 {
    order: -2;
}

article img {
    order: -1;
}

article button {
    padding-inline: 1rem;
    padding-block: .8rem;
    background-color: #ffa500;
    border: .5px solid green;
    border-radius: 4px;
    box-shadow: 0px 2px 5px green;
}

article ul {
    flex: 1 auto;
}