* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  background-color: white;
}

header,
footer {
  background-color: #e6e7e8;
  border: 2px solid #3f3f3f;
  border-radius: 5px;
}

footer {
  color: #3f3f3f;
  height: 2rem;
}

header img#logo {
  width: 5rem;
  height: 4.35rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bree Serif', serif;
  color: #00acdd;
}

header h1 {
  color: #004166;
  font-weight: bold;
}

header h1 span#subject {
  color: #96bc33;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: #00acdd;
}

a:visited {
  color: #ea2126;
}

a:hover {
  cursor: pointer;
  color: #f58a1e;
}

nav ul li {
  list-style-type: none;
}

nav ul {
  padding-left: 0;
}

nav#main-menu {
  background-color: #004166;
  font-weight: bold;
  border: 2px solid #e6e7e8;
  border-radius: 5px;
}

main section#principal {
  border: 2px solid #004166;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
}

main section#principal h2 {
  flex-basis: 100%;
}

main section article.news-art {
  border: 5px solid #e6e7e8;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#content main section#principal article#primerElemento {
  background-color: #e6e7e8;
  border-color: #f58a1e;
}

div#content main section article.news-art img {
  width: 20rem;
  height: auto;
}

div#content main section article.news-art p {
  padding: 0 1rem;
}

ul {
  display: none;
}

label {
  display: inline-flex;
  align-items: center;
  height: 3rem;
  cursor: pointer;
  justify-content: center;
  margin: .3rem;
}

#main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label span {
  font-size: 3rem;
  line-height: 1;
  color: white;
}

#hamburger {
  display: none;
}

/* Mostrar el menú solo cuando el checkbox esté activado */
#hamburger:checked~ul {
  display: block;
}

#hamburguer ul li {
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  main section article.news-art {
    flex-direction: row;
    flex-wrap: wrap;
  }

  main section article.news-art h3 {
    flex-basis: 100%;
  }
}

@media (min-width: 1024px) {
  main section#principal article:nth-last-of-type(-n+2) {
    flex-basis: 50%;
  }
}