/* Sección Bienvenida */
#welcome {
    padding-top: .8rem;
    padding-bottom: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}

#welcome div.img-cont {
    position: relative;
    height: 14.375rem;
}

#welcome div.img-cont img {
    width: 100%;
}

#welcome div.img-cont::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

#welcome div.img-cont h1 {
    font-size: 1.6rem;
    width: 80%;
    text-align: center;
    color: var(--bg-color);
}

#welcome div.img-cont h1 span {
    color: var(--secondary-bright);
}

#welcome>p {
    padding: 0 var(--space-4);
}

/* Por qué buscar aquí */
#why-here {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--bg-color);
    background-color: var(--primary);
    padding: 2rem var(--space-4);
}

#why-here div {
    background-color: var(--bg-color);
    color: var(--text);
    border-radius: .4rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

#why-here div>p:not(:last-child) {
    font-weight: 600;
    font-size: 1.2rem;
}

/* Explora categorías */
#categories {
    padding: 2rem var(--space-4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#categories ul.categ-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
}

#categories ul.categ-cont li {
    outline: 1px solid var(--dark-gray);
    flex-basis: calc(50% - 1rem);
    cursor: pointer;
    border-radius: .4rem;
    padding: 1.6rem .4rem;
    font-size: .9rem;
}

#categories ul.categ-cont li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .8rem;
}

#categories ul.categ-cont li:hover {
    outline-color: var(--secondary);
    color: var(--secondary);
}

#categories ul.categ-cont li:hover svg {
    stroke: var(--secondary);
}

#categories ul.categ-cont li svg {
    width: 2rem;
    height: 2rem;
    stroke: black;
    stroke-width: 2;
}

#categories ul.categ-cont li p {
    text-align: center;
}

/* Newsletter */
#newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 2rem var(--space-4);
    background-color: var(--primary);
    color: var(--bg-color);
}

#newsletter p {
    text-align: center;
}

#newsletter form {
    width: 100%;
    display: flex;
    border: 1px solid var(--dark-gray);
    border-radius: .4rem;
}

#newsletter form input {
    display: inline-block;
    flex-basis: 80%;
    padding: .6rem .4rem;
    border-radius: .4rem 0 0 .4rem;
    border: none;
}

#newsletter form button {
    background-color: var(--secondary);
    flex-basis: 20%;
    position: relative;
    border-radius: 0 .4rem .4rem 0;
    border: none;
    cursor: pointer;
    color: var(--bg-color);
    padding: .4rem;
}