/* Header */
header {
    padding: var(--pad);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

header div.first-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header div.first-row .logo-cont {
    display: block;
    width: 6rem;
    height: 4rem;
    overflow: hidden;
    position: relative;
}

/* Segunda fila */
header form {
    display: flex;
    border: 1px solid var(--dark-gray);
    border-radius: .4rem;
}

header form:has(input:focus) {
    border-color: var(--secondary);
}

header form input {
    display: inline-block;
    flex-basis: 80%;
    padding: .6rem .4rem;
    border-radius: .4rem 0 0 .4rem;
    border: none;
}

header form button.search-btn {
    background-color: var(--secondary);
    flex-basis: 20%;
    position: relative;
    border-radius: 0 .4rem .4rem 0;
    border: none;
    cursor: pointer;
}