* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #edeff1;
}

header svg {
    fill: black;
    cursor: pointer;
}

#corazon {
    order: -1;
}

header>p {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

header>p span:first-child {
    display: none;
}

header>div:nth-child(2) {
    margin-block: .6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    padding-block: .6rem;
}

header>div:nth-child(2)>svg:nth-child(1) {
    max-width: 3.2rem;
    margin: 0 auto;
    flex: 1;
}

header>div:nth-child(2) nav#main-menu {
    order: -2;
}

header>div:nth-child(2) nav#main-menu ul,
header>div:nth-child(2) nav#main-menu input {
    display: none;
}


header>div:nth-child(2) nav#main-menu label span {
    font-size: 1.4rem;
}

header>div:nth-child(2) div#buscador {
    display: flex;
    align-items: center;
    padding-inline: .4rem;
}

header>div:nth-child(2) div#buscador input {
    border: none;
    display: none;
}

header>div:nth-child(3) {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 1rem;
    padding-block: .6rem;
}


header>div:nth-child(3) p {
    max-width: 80%;
    margin: 0 auto;
    flex: 1;
    text-align: center;
}

header>div:nth-child(3) p a {
    color: black;
}

/* lg */
@media (min-width: 80rem) {

    header>div:nth-child(2) div#buscador {
        background-color: var(--bg-color);
        border: 1px solid transparent;
    }

    header>div:nth-child(2) div#buscador input {
        min-width: 14rem;
        display: block;
        background-color: transparent;
        padding-block: .4rem;
        outline: none;
    }

    header>div:nth-child(2) div#buscador:has(input:focus) {
        border-color: black;
    }

    #corazon {
        order: 0;
    }

    header>div:nth-child(2) nav#main-menu {
        order: 0;
        margin: 0 auto;
        flex: 1;
        display: flex;
        padding-inline: 3rem;
    }

    header>div:nth-child(2) nav#main-menu label {
        display: none;
    }

    header>div:nth-child(2) nav#main-menu ul {
        flex: 1;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    header>div:nth-child(2) nav#main-menu ul li {
        cursor: pointer;
    }

    header>div:nth-child(2) nav#main-menu ul li a {
        text-decoration: none;
        color: black;
    }

    header>div:nth-child(2) nav#main-menu ul li:hover a {
        text-decoration: underline;
    }
}