* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.row {
    background-image: url("./background/99.jpg");
    min-height: 100vh;
}

div.row div ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    padding: 3rem;
}

div.row div ul li {
    background-color: white;
    padding: 1rem;
    transition: transform .3s ease;
}

div.row div ul li img {
    max-width: 18rem;
}

div.row div ul li:nth-child(even) {
    transform: rotate(-4deg);
}

div.row div ul li:nth-child(odd) {
    transform: rotate(4deg);
}

div.row div ul li:nth-child(3n + 1) {
    transform: rotate(-2deg);
}

div.row div ul li:nth-child(5n - 1) {
    transform: rotate(2deg);
}

div.row div ul li:nth-child(3n - 2) {
    transform: rotate(-2deg);
}

div.row div ul li a {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 1rem;
}

div.row div ul li:hover {
    transform: rotate(0) scale(1.2);
}

div.row div ul li a::after {
    content: attr(title);
    padding-block: .5rem;
}

@media (min-width: 1024px) {
    div.row div ul {
        column-gap: 8rem;
    }
}