* {
	box-sizing: border-box;
}

/*Comenzamos con la versión móvil*/

/*Hacemos el cuerpo de la web flexible*/
body {
	display: flex;
	flex-direction: column;
	font-size: 16px;
	color: grey;
}

/*Estilo para todos los enlaces de la web*/
a {
	color: grey;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding-left: 0;
}

/*Hacemos la cabecera flexible*/
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*La cabecera ocupa todo el ancho de la página*/
	width: 100%;
}

/*La hamburguesa la colocamos al principio*/
header>nav#menu-principal {
	order: 1;
}

header>nav#menu-principal>label>span {
	font-weight: bold;
	font-size: 2rem;
	user-select: none;
	cursor: pointer;
}

/*El input de la hamburguesa tiene que estar oculto*/
header>nav#menu-principal input[type="checkbox"] {
	display: none;
}

/*El menu principal es flexible*/
header>nav#menu-principal>ul#menu {
	display: none;
	background-color: white;
	position: absolute;
	width: calc(100vw - 1rem);
	padding: 0.3rem 0;
	border-bottom: 1px solid grey;
}

header>nav#menu-principal:has(input:checked)>ul#menu {
	display: flex;
	flex-direction: column;
}

/*En segunda posición está el buscador*/
header>nav#search {
	order: 2;
	font-size: 1.4rem;
}

/*En tercera posición se encuentra el logo*/
header>a#logo {
	order: 3;
	max-width: 14rem;
}

/*El logo de la cabecera tiene un tamaño fijo*/
header>a#logo img {
	width: 100%;
	max-width: 14rem;
}

/*En cuarta posición está el icono del usuario de login*/
header>nav#login {
	order: 5;
	font-size: 1.4rem;
}

/*Por último, en quinta posición se encuentra la bolsa de la compra*/
header>nav#bag {
	order: 4;
	padding-right: 0.5rem;
	font-size: 1.4rem;
}

/*Hacemos flexible el cuerpo principal*/
main {
	display: flex;
	flex-wrap: wrap;
}


/*Los artículos tienen que ser flexibles*/
/*En la versión de móvil se muestran en filas de 2*/
main>article.item {
	max-width: 50%;
	padding: .5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

main>article.item>* {
	margin-bottom: 0.5rem;
}

/*El párrafo con la descripción del artículo va en segundo lugar*/
main>article.item p {
	order: -1;
	flex: 1;
	text-align: center;
}

/*La imagen del artículo aparece en primer lugar*/
main>article.item picture {
	order: -2;
}

/*Las imágenes de los articulos tienen una anchura relativa*/
main>article.item img {
	width: 100%;
}

/*El precio va en tercera posición*/

/*El botón lo colocamos en última posición*/
main>article.item>input {
	border: 0;
	background-color: #92d1c8;
	border-radius: 0.2rem;
	padding: 0.5rem;
}

main>article.item>input:hover {
	cursor: pointer;
	background-color: #88c3ba;
}

/*Hacemos el pie flexible*/
footer {
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*El menú adicional es flexible y va en segunda posición*/
footer>nav:last-child ul#menu-adicional {
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer>nav:last-child {
	order: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*El menú social hay que hacerlo flexible*/
footer>nav#menu-social-adicional {
	/*lo colocamos en primer lugar dentro del pie*/
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*El menu social también es flexible*/
footer>nav#menu-social-adicional ul {
	display: flex;
}

footer>nav#menu-social-adicional>ul>li i {
	font-size: 1.5rem;
	color: #cda194;
	padding: 0 0.5rem;
}

/*El texto del pie va al final*/
footer>small {
	order: 3;
	text-align: center;
}


/*VERSIÓN DE ESCRITORIO*/
/*En la cabecera va logo e iconos en la misma línea y debajo el menú*/
/*Hay 4 artículos por fila*/
/*La barra social y el menú adicional están uno al lado del otro*/
@media all and (min-width: 1024px) {
	main>article.item {
		max-width: 25%;
	}

	header {
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	header>nav#menu-principal {
		order: 5;
	}

	header>nav#menu-principal>ul#menu {
		position: static;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	header>nav#search {
		order: 3;
	}

	header>a#logo {
		max-width: none;
		flex: 1;
	}

	header>nav#search,
	header>nav#bag {
		margin-right: 4rem;
	}

	header>nav#menu-principal>label {
		display: none;
	}

	footer {
		flex-flow: row wrap;
	}

	footer nav {
		flex-basis: 50%;
	}

	footer>nav:last-child span {
		width: 100%;
		text-align: center;
		border-bottom: 1px solid gray;
	}

	footer>nav:last-child ul#menu-adicional {
		flex-flow: row wrap;
	}

	footer>nav:last-child ul#menu-adicional li {
		flex-basis: 50%;
	}
}